img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;

}
h1, h2, p, a{
    text-align: center;
    color: #261a20;
}
body{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d8c7cf;
}
.lista{
    text-align: left;
    color: #261a20;
}